<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>邮爱传万家，跨年大聚惠</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <link rel="stylesheet" href="https://i1.beta.ulecdn.com/ulewap/ws/lib/css/weui.min.css">
    <link rel="stylesheet" href="https://i1.beta.ulecdn.com/ulewap/ws/lib/css/jquery-weui.min.css">
    <link rel="stylesheet" href="https://i1.beta.ulecdn.com/ulewap/ws/20171020/css/base.min.css">
    <link rel="stylesheet" href="https://i1.beta.ulecdn.com/ulewap/ws/20171020/css/iconfont.min.css">
    <link rel="stylesheet" href="https://i1.beta.ulecdn.com/ulewap/ws/lib/css/loadme.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" style="background-color:#d45456">
        <div v-show="loadingShow == 1" class="fly-loadme">
            <div class="fly-loadme-ios">
            </div>
            <div class="fly-loadme-text">数据加载中</div>
        </div>
        <div class="head">
            <img style="display:block" src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/head.png" alt="">
        </div>

        <div class="login-block" v-show="permissions == 0">
            <div class="weui-flex" style="align-items:center">
                <div class="weui-flex__item">
                    <div class="weui-cell" style="background:#ffffff">
                        <div class="weui-cell__bd">
                            <input v-model="card" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入您的身份证后六位">
                        </div>
                    </div>
                    <div class="weui-cell" style="background:#ffffff">
                        <div class="weui-cell__bd">
                            <input v-model="phone" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入您的预留手机号">
                        </div>
                    </div>
                </div>
                <button class="login-btn" @click="yz()">提交验证信息</button>
            </div>
            <p v-cloak class="fly-m-t-lg">您当前的状态是
                <span v-if="loginState == 1" class="login-state">已登录</span>
                <span v-else class="login-state">未登录</span>
            </p>
            <p v-cloak v-show="loginState == 0" class="fly-m-t">* 您可在活动开始前完成 <span class="login-span" @click="login()">注册 / 登录</span> 抢兑快人一步。</p>
        </div>

        <div v-cloak v-if="loginState == 1 && permissions == 1">
            <!-- 领券 -->
            <div id="tickets" class="tickets fly-m-t">
                <img style="display:block" src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/done.png" alt="">
                <button class="tickets-hot" @click="voucher()"></button>
            </div>
        </div>
        <!-- 兑换商品 -->
        <div v-cloak class="goods" id="goods">
            <div class="goods-title">
                <img src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/title_goods.png" alt="">
            </div>
            <div class="goods-content">
                <div v-for="item in goodsList" class="goods-block" @click="goodsJump(item.inStock,item.listingId)">
                    <div class="goods">
                        <img v-bind:style="{ height: goodsImg.h + 'px', width: goodsImg.w + 'px' }" class="goods-img" v-lazy="item.imgUrl" alt="">
                        <p class="goods-title">{{ item.listingName }}</p>
                        <div class="weui-flex" style="align-items:center">
                            <div class="weui-flex__item">
                                <p style="font-size:12px" class="goods-price">
                                    <!-- 活动价 -->
                                    <span>￥</span>
                                    <span style="font-size:16px">{{ item.minPrice }}</span>
                                </p>
                            </div>
                            <button class="weui-btn weui-btn_mini weui-btn_primary goods-car"><i class="iconfont icon-fir-icon-shop-cart"></i>加入购物车</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 活动规则 -->
        <div class="rules">
            <div class="rules-title">
                <img src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/title_rules.png" alt="">
            </div>
            <div class="rules-content">
                <p>1、活动时间：2017年11月。 </p>
                <p>2、活动对象：中国邮政储蓄银行VIP持卡客户（含：钻石、白金、金卡级，于2017年9月30日前持卡，且留有正确的手机号码）。 </p>
                <p>3、参与规则：活动期间，VIP持卡客户（于2017年9月30日前持卡，且留有正确的手机号码），可于2017年11月每周三上午10:00，通过“江苏邮政金融”（或“邮乐江苏”）微信公众号领取价值100元的期刊专用现金券，限量优惠购买指定热销期刊，现金券每周限量，每个客户每周限领一次，先到先得。 </p>
                <p>4、参与流程：
                    <p> （1）符合活动参与条件的VIP客户，于每周三上午10:00起登录“江苏邮政金融”微信公众号（或“邮乐江苏”官方网站），进入活动页面。</p>
                    <p> （2）客户输入“邮政金融系统中留存的手机+身份证后六位”进行资格验证，验证成功后，点击领取优惠券。</p>
                    <p> （3）在活动页面下方点击兑换的商品，进行购买操作，下单时，选择优惠券，即可抵扣相应金额。</p>
                    <p> （4）订单生成后，支付剩余资金，完成购买操作。</p>
                    <p>5、现金券领取后立即发放到参与活动的邮乐账户，使用范围为邮乐江苏“惠订阅”书香邮你优惠购活动页面指定商品，可在“我的邮乐”-“优惠券”查看使用规则，须在有效期内使用，逾期失效，不予补发。 6、使用非正常手段参与活动，主办方有权拒绝发放或追回优惠券，并追究相关人员责任。</p>
                    <p>7、客服电话：4008011185。</p>
            </div>
        </div>
        <!-- 弹窗 -->
        <div v-cloak v-show="boxShow == 1" class="tip-box">
            <!-- 1 验证成功 -->
            <div v-if="boxType == 1" @click="voucherJump()" class="tip-main">
                <img src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/yz_success.png" alt="">
            </div>
            <!-- 0 验证失败 -->
            <div v-else-if="boxType == 0" @click="closeBox()" class="tip-main">
                <img src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/yz_error_bg.png" alt="">
                <div class="boxTip">
                    <h1>验证失败</h1>
                    <small>{{ boxMsg }}</small>
                </div>
            </div>
            <!-- 3 领取成功 -->
            <div v-else-if="boxType == 3" @click="closeSucBox()" class="tip-main">
                <img src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/lq_success.png" alt="">
            </div>
            <!-- 4 领取失败 -->
            <div v-else-if="boxType == 4" @click="closeBox()" class="tip-main">
                <img src="https://i1.beta.ulecdn.com/ulewap/ws/20171020/images/yz_error_bg.png" alt="">
                <div class="boxTip">
                    <h1>领取失败</h1>
                    <small>{{ boxMsg }}</small>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="https://i1.beta.ulecdn.com/ulewap/ws/lib/js/require.min.js" data-main="https://i1.beta.ulecdn.com/ulewap/ws/20171020/js/app.js" async="true"></script>

</html>