<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>邮乐爽11 1爽到家</title>
    <meta name="keywords" content="" />
    <meta name="description" content="邮乐爽11 1爽到家" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <link rel="stylesheet" href="https://i1.beta.ulecdn.com/ulewap/ws/lib/css/weui.min.css">
    <link rel="stylesheet" href="https://i1.beta.ulecdn.com/ulewap/ws/lib/css/jquery-weui.min.css">
    <link rel="stylesheet" href="./css/base.min.css">
</head>

<body>
    <div id="app" style="background-color:#d93e3c">
        <div v-show="loadShow == 1" class="fly-loadme">
            <div class="fly-loadme-ios">
            </div>
            <!-- <div class="fly-loadme-text">数据加载中</div> -->
        </div>
        <div class="head">
            <img style="display:block" src="./images/head.jpg" alt="">
        </div>
        <div class="bd">
            <div v-cloak class="main">
                <div class="weui-flex" style="align-items:center">
                    <div class="main-title">
                        手机号：
                    </div>
                    <div class="weui-cell" style="background-color:#ffffff">
                        <div class="weui-cell__bd">
                            <input class="weui-input" v-model.trim="form.phone" v-on:keyup="phoneCheck()">
                        </div>
                    </div>
                </div>
                <div class="weui-cells__tips" style="text-align:left;padding-left:90px;padding-right:0;color:#fd5453">
                    {{ tip.phoneTip }}
                </div>

                <div class="weui-flex fly-m-t" style="align-items:center">
                    <div class="main-title">
                        图片验证码：
                    </div>
                    <div class="weui-cell" style="background-color:#ffffff">
                        <div class="weui-cell__bd">
                            <input class="weui-input" v-model.trim="form.pic" maxlength="4" v-on:keyup="picCheck()">
                        </div>
                    </div>
                    <div class="main-footer weui-flex__item">
                        <img @click="getPic()" style="border:0;display:block;height:100%;width:100%" :src="picUrl" alt="">
                    </div>
                </div>
                <div class="weui-cells__tips" style="text-align:left;padding-left:90px;padding-right:0;color:#fd5453">
                    {{ tip.picTip }}
                </div>

                <div class="weui-flex fly-m-t" style="align-items:center">
                    <div class="main-title">
                        短信验证码：
                    </div>
                    <div class="weui-cell" style="background-color:#ffffff">
                        <div class="weui-cell__bd">
                            <input class="weui-input" v-model.trim="form.vcode" v-on:keyup="vcodeCheck()">
                        </div>
                    </div>
                    <div class="main-footer weui-flex__item">
                        <button v-if="isGetCode == 1" @click="getVcode()" style="color:#333333;background-color:#fec535;border:0;display:block;height:100%;width:100%">{{ vCodeBtnContent }}</button>
                        <button v-else style="color:#333333;background-color:#ffd471;border:0;display:block;height:100%;width:100%">{{ vCodeBtnContent }}</button>
                    </div>
                </div>
                <div class="weui-cells__tips" style="text-align:left;padding-left:90px;padding-right:0;color:#fd5453">
                    {{ tip.vcodeTip }}
                </div>

                <div class="main-submit">
                    <a @click="sub()" href="javascript:;" style="display:block;height:38px;width:180px;background:url(./images/submit.png);background-size:100% 100%" class="weui-btn weui-btn_warn"></a>
                </div>
            </div>
            <div class="foot">
                <img style="display:block" src="./images/foot.jpg" alt="">
            </div>
            <div class="des">
                <p>1、神秘优惠券已发放至您账户，请用填写的手机号码登录/注册邮乐网账号；</p>
                <p>2、优惠券数量有限，每个手机号每日仅可领取一张优惠券，每个订单限用一张优惠券；</p>
                <p>3、优惠券不可叠加使用，也不可和其他优惠同时使用；</p>
                <p>4、在参与本活动过程中，如果出现违规行为（如作弊领取、恶意套现、虚假交易等），邮乐将取消您的订单，并有权撤销违规交易，收回相关优惠券，必要时追究法律责任；</p>
                <p>5、活动时间：2017年11月1日-2017年11月10日；</p>
                <p>6、邮乐在法律范围内拥有解释权。</p>
            </div>
        </div>

        <!-- 弹窗 -->
        <div v-cloak v-show="boxShow == 1" class="tip-box">
            <!-- 1 验证成功 -->
            <div v-if="boxType == 1" class="tip-main">
                <div class="boxImg">
                    <img src="./images/alert_success.png" alt="">
                    <div class="closeBox"></div>
                    <div class="jumpBox"></div>
                </div>
            </div>
            <!-- 已经领取过了 -->
            <div v-else class="tip-main">
                <div class="boxImg">
                    <img src="./images/alert_has.png" alt="">
                    <div @click="closeBox()" class="closeBox"></div>
                    <div @click="checkP()" class="jumpBox"></div>
                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="https://i1.beta.ulecdn.com/ulewap/ws/lib/js/require.min.js" data-main="./js/app.js" async="true"></script>

</html>